body{
    overflow-x: hidden;
}
.top-paragraph{

    display: flex;
    gap: 5px;
    text-align: center;
}
.top-paragraph p{
    padding: 5px;
    font-size: medium;
}
.top-heading{
    display: flex;
    justify-content: center;
    text-align: center;
}
.top-paragraph h5{
    background-color: black;
    color: white;
    padding: 5px;
}
.general-div{
    display: flex;
    justify-content: center;
    margin: 3rem;
    gap: 2rem;
}
.left-side{
    width: 80%;

}
.read-comment{
    display: flex;
    justify-content: space-between;
}
.numbers{
    display: flex;
}
.numbers p{
    background-color: black;
    color: white;
    padding: 5px;
}
.image1 img{
    width: 100%;
}
.title-description{
    display: flex;
    gap: 7px;
    margin-left: 1rem;
}
.title-paragraph1{
    width: 95%;
    text-align: left;
    margin-left: 1rem;
}
.step1{
    box-shadow: 0 0 10px #000000;
 
}
.title-heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: large;
    margin-left: 1rem;
}
.read-comment a{
    text-decoration: none;
    color: black;

}
